In [1]:
#Normalisasi Data (Standar Scaler)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [3]:
filelocation = 'C:/Users/User/Documents/Berkas Fikar/Skripsi Fikar/Database/data_gabungan_sekolah_sulsel.csv'
data = pd.read_csv(filelocation)

In [4]:
data.head()

,No,Nama Sekolah,BP,Status,siswa_total,jumlah_guru,staf_total,jumlah_ruangan,daya_listrik,wilayah_total,skor_akreditasi,Lintang,Bujur
0,1,UPT SPF SD INPRES BADDOKA,SD,Negeri,337,18,3,13,1300,2808,81,509153567,1195133502
1,2,UPT SPF SD INPRES BAKUNG 1,SD,Negeri,243,15,4,8,900,3000,84,5073361105,1195294071
2,3,UPT SPF SD INPRES BAKUNG 2,SD,Negeri,269,16,5,8,4400,2500,84,5079140801,119529189
3,4,UPT SPF SD INPRES DAYA,SD,Negeri,498,28,3,13,4640,1200,87,5112902708,119512008
4,5,UPT SPF SD INPRES KALANG TUBUNG 2,SD,Negeri,195,15,1,8,1300,1505,81,5080894528,119536749

In [6]:
x = data.loc[:, ['siswa_total', 'jumlah_guru', 'staf_total', 'jumlah_ruangan', 'daya_listrik', 'wilayah_total', 'skor_akreditasi', 'Lintang', 'Bujur']]

In [7]:
scaler = StandardScaler()
scaler.fit (x)
data_scaled = scaler.transform(x)

In [8]:
data_scaled

array([[ 0.9412311 ,  0.47083351, -0.08851645, ..., -0.22739045,
         0.35771901,  5.11200806],
       [ 0.430646  ,  0.20118151,  0.28084404, ...,  0.11194342,
         5.29355719,  5.11278903],
       [ 0.57187167,  0.29106551,  0.65020453, ...,  0.11194342,
         5.29980749, -0.11951391],
       ...,
       [-0.88927078, -1.14707847, -0.82723743, ..., -0.7929469 ,
         5.37159007,  5.10729636],
       [-0.76977214, -0.69765848, -0.82723743, ...,  0.90372245,
         5.33920226,  5.10733737],
       [ 0.14276292, -0.15835449,  0.65020453, ...,  0.22505471,
        -0.19288573, -0.70029893]])

In [10]:
data_scaled = pd.DataFrame(data_scaled, columns = ['siswa_total', 'jumlah_guru', 'staf_total', 'jumlah_ruangan', 'daya_listrik', 'wilayah_total', 'skor_akreditasi', 'Lintang', 'Bujur'])

In [11]:
data_scaled

,siswa_total,jumlah_guru,staf_total,jumlah_ruangan,daya_listrik,wilayah_total,skor_akreditasi,Lintang,Bujur
0,0.941231,0.470834,-0.088516,0.505200,-0.180114,-0.028092,-0.227390,0.357719,5.112008
1,0.430646,0.201182,0.280844,-0.241330,-0.214162,-0.024249,0.111943,5.293557,5.112789
2,0.571872,0.291066,0.650205,-0.241330,0.083761,-0.034256,0.111943,5.299807,-0.119514
3,1.815744,1.369673,-0.088516,0.505200,0.104190,-0.060273,0.451277,5.336318,-0.119597
4,0.169922,0.201182,-0.827237,-0.241330,-0.180114,-0.054169,-0.227390,5.301704,-0.119477
...,...,...,...,...,...,...,...,...,...
9196,0.148195,-0.068470,0.650205,0.654506,0.611511,-0.014603,0.111943,5.412457,5.107355
9197,4.455577,5.234685,0.650205,3.789932,-0.001360,0.025264,0.111943,5.363805,5.107075
9198,-0.889271,-1.147078,-0.827237,-1.435778,0.185907,-0.030253,-0.792947,5.371590,5.107296
9199,-0.769772,-0.697658,-0.827237,-0.689248,-0.103505,0.123770,0.903722,5.339202,5.107337
9200,0.142763,-0.158354,0.650205,0.803812,-0.163089,-0.013582,0.225055,-0.192886,-0.700299

In [12]:
data_scaled.to_csv('data_normalisasi_sekolah_sulsel.csv', index = False)